name: deploy
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  latex-document:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    concurrency:
      group: pages
      cancel-in-progress: false
    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v3.0.6

      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex

      - name: Move and rename document
        run: mkdir dist && mv main.pdf dist/buku-ta.pdf

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2.0.0
        with:
          path: dist

      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v2.0.4
